@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wunschzettel erstellen: </h1>
    <input class="form-control"/> 
    <button>Erstellen</button>
    <h1 class="display-4">Wunschzettel öffnen: </h1>
    <input class="form-control" />
    <button>Öffnen</button>
</div>
